<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>bobcat-lib documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	    <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">bobcat-lib documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="../">bobcat-lib documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="../overview.html" 
                                         href="../overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./modules.html" >
                            <span class="fa fa-archive"></span>
                            <span>Modules</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-modules-links"
                            ></span>
                        </a>
                        <ul class="links collapse in"
                                id="xs-modules-links"
                            >
                                <li class="link">
                                    <a href="../modules/ChartsModule.html" >ChartsModule</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="../components/ChartsComponent.html" >ChartsComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ColumnsComponent.html" >ColumnsComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/RtLineComponent.html"  class="active" >RtLineComponent</a>
                                </li>
                                <li class="link">
                                    <a href="../components/ScatterComponent.html" >ScatterComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
            
            
            
            
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="../">bobcat-lib documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="../" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="../overview.html" 
                                                href="../overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./modules.html" >
                                   <span class="fa fa-archive"></span>
                                   <span>Modules</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#modules-links"
                                   ></span>
                               </a>
                               <ul class="links collapse in"
                                       id="modules-links"
                   >
                                       <li class="link">
                                           <a href="../modules/ChartsModule.html" >ChartsModule</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="../components/ChartsComponent.html" >ChartsComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ColumnsComponent.html" >ColumnsComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/RtLineComponent.html"  class="active" >RtLineComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="../components/ScatterComponent.html" >ScatterComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                   
                   
                   
                   
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="../coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src="..//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>RtLineComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>projects/charts/src/lib/rt-line/rt-line.component.ts</code>
</p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>bobcat-rt-line</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>rt-line.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>rt-line.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>colors</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>dataSeries</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>height</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>idComponent</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>showYAxis</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>width</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>


    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(elRef: any, renderer: Renderer2)</code>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> resetData</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock">
                                    <span class="fa fa-lock"></span>
                                </span>
                            <code>resetData()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> chart</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>chart:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> lastDate</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>lastDate:     <code>number</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>0</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> options</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>options:     <code>{ chart: { height: number; width: number; type: string; animations: { enabled: boolean; easing: s...</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> TICKINTERVAL</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>TICKINTERVAL:     <code>number</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>86400000</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> XAXISRANGE</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>XAXISRANGE:     <code>number</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>777600000</code>
                            </td>
                        </tr>
                </tbody>
            </table>
    </section>
</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import { Component, OnInit, OnChanges, Input, ElementRef, Renderer2 } from &#x27;@angular/core&#x27;;
// @ts-ignore
import ApexCharts from &#x27;apexcharts&#x27;;

@Component({
  selector: &#x27;bobcat-rt-line&#x27;,
  templateUrl: &#x27;./rt-line.component.html&#x27;,
  styleUrls: [&#x27;./rt-line.component.css&#x27;]
})
export class RtLineComponent implements OnInit, OnChanges {
  @Input(&#x27;dataSeries&#x27;) dataSeries:any;
  @Input(&#x27;colors&#x27;) colors:any;
  @Input(&#x27;idComponent&#x27;) idComponent:any;
  @Input(&#x27;showYAxis&#x27;) showYAxis:any;
  @Input(&#x27;width&#x27;) width:any;
  @Input(&#x27;height&#x27;) height:any;

  lastDate &#x3D; 0;
  TICKINTERVAL &#x3D; 86400000
  XAXISRANGE &#x3D; 777600000

  options &#x3D; {
      chart: {
          height: 350,
          width: 300,
          type: &#x27;line&#x27;,
          animations: {
              enabled: false,
              easing: &#x27;linear&#x27;,
              dynamicAnimation: {
                  speed: 1000
              }
          },
          toolbar: {
              show: false
          },
          zoom: {
              enabled: false
          }
      },
      dataLabels: {
          enabled: false
      },
      stroke: {
          curve: &#x27;smooth&#x27;
      },
      series: [{
          data: []
      }],
      title: {
          text: &#x27;&#x27;,
          align: &#x27;left&#x27;
      },
      markers: {
          size: 0
      },
      xaxis: {
          type: &#x27;datetime&#x27;
      },
      yaxis: {
          show:true
      },
      legend: {
          show: false
      },
      colors: []
  }

  chart:any;





  constructor(
    private elRef: ElementRef,
    private renderer: Renderer2
  ) { }

  ngOnInit() {
    this.options.yaxis.show &#x3D; this.showYAxis;
    this.options.chart.height &#x3D; this.height;
    this.options.chart.width &#x3D; this.width;

    //Render dinamico para el uso de multiples graficos de forma independiente.
    let div &#x3D; this.renderer.createElement(&#x27;div&#x27;);
    div.id &#x3D; this.idComponent;
    this.renderer.appendChild(this.elRef.nativeElement, div);


    this.options.series &#x3D; [
      {data: this.dataSeries}
    ];
    this.options.colors &#x3D; this.colors;
    this.chart &#x3D; new ApexCharts(
        document.querySelector(&quot;#&quot;+this.idComponent),
        this.options
    );
    this.chart.render();
  }

  ngOnChanges() {
    if(this.chart){
      this.chart.updateSeries([{
              data: this.dataSeries
      }])
    }
  }

  private resetData(){
      // Alternatively, you can also reset the data at certain intervals to prevent creating a huge series
      this.dataSeries &#x3D; this.dataSeries.slice(this.dataSeries.length - 10, this.dataSeries.length);
  }

}
</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/search/search.js"></script>
       <script src="../js/search/lunr.min.js"></script>
       <script src="../js/search/search-lunr.js"></script>

       <script src="../js/menu.js"></script>
       <script src="../js/libs/highlight.pack.js"></script>
       <script src="../js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="../js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
